<%= render 'products/shop_header' %>
<%= form_for("user", :url => user_session_path, :class=>'well') do |f| %>
  <%= f.text_field :email, :placeholder=>'email'%><br>
  <%= f.password_field :password, :placeholder=>'password' %><br>
  <p><%= f.check_box :remember_me %> Remember me </p>
  <%= f.submit 'Sign in', :class=>'btn btn-large btn-primary', :style=>"width:15em" %><br>
  <%= link_to "Forgot your password?", new_password_path('user') %>
<% end %>

