<%= render 'products/shop_header' %>
Register to buy the item!
<% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
<%= form_for("user", :url => user_registration_path) do |f| %>
	<%= hidden_field_tag :product_id, @product_id %>
  <%= f.text_field :name, :placeholder=>"user name" %><br>
  <%= f.text_field :email, :placeholder=>"email" %><br>
  <%= f.password_field :password, :placeholder=>'password' %><br>
  <%= f.password_field :password_confirmation, :placeholder=>'password confirmation' %><br>
  <%= f.submit 'Sign Up', :class=>'btn btn-large btn-primary' %><br>
<% end %>


