    			<p></p>
			<table style="">
				<tbody>
					<tr>

						<% if publisher_signed_in? %>
							<%= link_to "Go To Dashboard", current_publisher, :class=>"btn btn-large btn-primary" %><br><br>
				                        <%= link_to "Logout", destroy_publisher_session_path, :method => :delete, :class=>"btn btn-large btn-primary" %>
	
						<% else %>
						<td style="padding-left:15em; padding-right:12.5em; padding-top:5em; padding-bottom:5em; border-right:1px solid #C8C8C8">
<%= form_for("publisher", :url => publisher_session_path) do |f| %>
  <%= f.text_field :email %><br>
  <%= f.password_field :password %><br>
  <p><%= f.check_box :remember_me %> Remember me </p>
  <%= f.submit 'Sign in', :class=>'btn btn-large btn-primary', :style=>"width:15em" %><br>
  <%= link_to "Forgot your password?", new_password_path('publisher') %>
<% end %>
						</td>
						<td style="padding-left:12.5em;width:15em; text-align:center;">
						<p>
							<h3>Monetize from real life products without ever having to leave your virtual world.</h3>
						</p>
						<%= render "publishers/sign_up" %>
						<a data-toggle="modal" href="#myPublisherSignUpModal" class="btn btn-large btn-primary" style="width:15em">Sign up</a></td>
					<% end %>
					</tr>
				</tbody>
			</table>
