<div class="row">
	<div class="span4">
		<h1>Games</h1>
	</div>
    <div class="span4 offset4" style="text-align:right">
<%= link_to "Add a Game", publisher_game_path(current_publisher, "new"), :class=>"btn btn-success btn-large"%>
	</div>
</div>
<hr>

<table class="table" style="width:100%;  font-size:1.5em; ">
	<thead>
		<tr>
    	<th style="padding:0.5em">
      Name
      </th>
			<!--<th style="padding:0.5em">
			Meta Data
			</th>-->
			<th style="padding:0.5em">
			Earnings
			</th>
			<th style="padding:0.5em">
			Impressions
			</th>
			<th style="padding:0.5em">
			Token
			</th>
			<th style="padding:0.5em; margin-right:0;text-align:right">
			</th>
		</tr>
	</thead>
	<tbody>
	<% if not @games.nil? %>
        <% @games.each do |game| %>
        <tr>
			<td style="padding:0.5em">
			<%= link_to "#{game.name}", { :action => "show", :id => game.id } %>
			</td>
			<!--<td style="padding:0.5em">
			<%= game.meta_data %>
			</td>-->
			<td style="padding:0.5em">
			<%= number_to_currency totaldays_earning(game.id) %>
			</td>
			<td style="padding:0.5em">
			<%= number_with_precision totaldays_im(game.id), :precision=>0 %>
			</td>
			<td style="padding:0.5em">
			<%= game.token %>
			</td>
			<td style="padding:0.5em" align='right'>	
			<%= link_to "Info", {:action => "show", :id => game.id}, :class=>"btn btn-primary" %>
			<%= link_to "Update", {:action => "edit", :id => game.id}, :class=>"btn btn-info" %>
			<%= link_to "Delete", { :action => "destroy", :id => game.id }, :confirm => "Are you sure?", :method => :delete, :class=>"btn btn-danger" %>
			</td>
		</tr>

        <% end %>
	<% else %>
		You dont have any games yet!
	<% end 	%>
	</tbody>
</table>


