<!--Company's Home page tab -->
			<p></p>
			<table style="">
				<tbody>
					<tr>
						<% if company_signed_in? %>
							<%= link_to "Go To Dashboard", current_company, :class=>"btn btn-large btn-primary" %><br><br>
				                        <%= link_to "Logout", destroy_company_session_path, :method => :delete, :class=>"btn btn-large btn-primary" %>
	
						<% else %>
							<td style="padding-left:15em; padding-right:12.5em; padding-top:5em; padding-bottom:5em; border-right:1px solid #C8C8C8">
							<%= alert %>
                              <%= render 'companies/sign_in_form' %>
							</td>
							<td style="padding-left:12.5em;width:15em; text-align:center"><p><h3>Distribute your advertising and product inventory.</h3></p>
								<%= render "companies/sign_up" %>
								<a data-toggle="modal" href="#myCompanySignUpModal" class="btn btn-large btn-primary" style="width:15em">Sign up</a>
							</td>
						<% end %>
					</tr>
				</tbody>
			</table>

