<!-- should have the variable company -->
<%= form_for company do |f| %>
	<h5>Company Name</h5>
	<%= f.text_field :name, :placeholder => "ex. ARIA Company" %>
	<h5>Company Email</h5>
	<%= f.text_field :email, :placeholder => "ex. AkariMizunashi@aria.com" %>
	<h5>Password</h5>
	<%= f.password_field :password %>
	<h5>Password Confirmation</h5>
	<%= f.password_field :password_confirmation %>
	<%= f.submit :submit %>
<% end %>
