<h2>Edit <%= current_company.name.to_s.humanize %></h2>

<%= form_for(current_company, :as => 'company', :url => password_path('company'), :html => { :method => :put }) do |f| %>

<%= render 'shared/info' %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

