<%= render 'subheader' %>
<h2>PayPal Bank Account</h2>

<%= render 'shared/info'%>
<hr>
<%= form_for(current_company, :as => 'company', :url => company_path(current_company.id), :html => { :method => :put }) do |f| %>

  <%= f.text_field :paypal_email, :placeholder=>'Paypal Email' %>

  <%= f.submit "Save", :class=>'btn btn-success btn-large'%>
<% end %>

<p>Currently we only accept paypal as a way to pay you. 
More ways will be added as soon as possible. 
Thank you for your patience!</p>
