<%= render 'subheader' %>
<h2>Edit Password</h2>
<hr>

<%= render 'shared/info' %>

<%= form_for(current_company, :as => 'company', :url => password_path('company'), :html => { :method => :put }) do |f| %>

	<%= f.password_field :current_password,:placeholder=>'current password' %><br>

	<%= f.password_field :password, :placeholder=>'new password' %><br>

	<%= f.password_field :password_confirmation, :placeholder=>'new password confirm' %><br>
	<%= f.submit "Update", :class=>'btn btn-success btn-large'%>
<% end %>

