<!-- Company show page -->
<table width="100%">
<tr>
<td>
	<% if current_company.name %>
		<h1>Welcome, <%= current_company.name.capitalize %>!</h1>
	<% else %>
		<h1>Welcome</h1>
	<% end %>
</td>
<td style="float:right">
		<font style='font-size:1.25em;margin-right:1em'>Products: <%= @products_count %></font>
		<font style='font-size:1.25em;margin-right:1em'>Views: <%= @products_view %></font>
		<font style='font-size:1.25em;margin-right:1em'>Earnings: <%= number_to_currency @products_earnings %></font>
		<%= link_to "Add Product", company_product_path(current_company, "new"), :class=>"btn btn-success btn-large" %>

</td>
</tr>
</table>
<hr>
<%= render 'shared/info' %>

<table class="table" style="width:100%; font-size:1.5em; ">
	<thead>
        <tr>
                <th style="padding:0.5em">
                Name
                </th>
                <th style="padding:0.5em">
                Link
                </th>
								<th>
								</th>
                <th style="padding:0.5em">
                Price
                </th>
                <th style="padding:0.5em">
                Viewed
                </th>
                <th style="padding:0.5em">
                Sold
                </th>
                <th style="padding:0.5em">
                </th>
        </tr>
	</thead>
	<% if not @products.nil? %>
        <% @products.each do |product| %>
        <tr>
        <td style="padding:0.5em">
        <%= link_to "#{product.name}", edit_company_product_path(current_company, product.id) %>
        </td>
        <td style="padding-left:0.5em; background-color:#F5F5F5;-moz-border-radius: 5px;border-radius: 5px;border:1px solid #ccc" id="copy">
				<font style="font-size:1em;" id="copy"><a href='#'><%= root_url + "g/" + product.encrypted_link %></a></font>

				<script>
					//create client
					var clip = new ZeroClipboard.Client();
					//event
					clip.addEventListener('mousedown',function() {
						//clip.setText(document.getElementById('box-content').html());
						clip.setText("<%= root_url + 'g/' + product.encrypted_link %>");
					});
					clip.addEventListener('complete',function(client,text) {
						alert('Copied to Clipboard: ' + text);
					});
					//glue it to the button
					clip.glue('copy');
				</script>
				</td>
				<td id="copy">
				<font color="#08c"><a href="#">copy</a></font>
				</td>
        <td style="padding:0.5em">
        <%= number_to_currency product.price %>
				</td>
        <td style="padding:0.5em">
        <%= product.displayed %>
        </td>
        <td style="padding:0.5em">
        <%= product.purchased %>
        </td>
        <td style="margin-right:0px; margin-top:0px;padding-top:5px">
        <%= link_to "delete", company_product_path(current_company, product.id) , :method => :delete, :confirm => "Are you sure you want to delete?", :class=>"btn btn-danger" %>
        </td>
        </tr>

        <% end %>
	<% else %>
	You dont have any products yet!
	<% end %>
</table>



