<h2>Checkout</h2>
<br>
<% if flash[:notice] %>
	<p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
	<p class="error"><%= flash[:error] %></p>
<% end %>
<%= form_for("card", :url => confirm_purchase_single_shop_create_path) do |f| %>
	<%= hidden_field_tag :encrypted_link, @product.id.to_s(32) %>
	<%= hidden_field_tag :price, @product.price %>
	<table style="margin-right:auto;margin-left:auto;float:center;">
	<tr>
		<td style="text-align:left" colspan='2'>
			<h4>
				Card Number
			</h4>
		</td>
	</tr>
	<tr>
		<td style="text-align:left" colspan='2'>
			<%= f.text_field :number, :placeholder=>'4242424242424242',:style=>'width:11em;font-size:1.75em;height:1.5em;"' %>
		</td>
	</tr>
	<tr>
		<td style="text-align:left">
			<h4>
				CV Code
			</h4>
		</td>
		<td style="text-align:right">
			<h4>
				Exp. Date
			</h4>
		</td>
	</tr>
	<tr>
		<td style="text-align:left">
			<%= f.text_field :cvc,:placeholder=>'123',:style=>'width:2em;font-size:1.75em;height:1.5em;"'%>
		</td>
		<td style="text-align:right">
			<%= f.text_field :exp_month, :style=>'width:2em',:placeholder=>'01',:style=>'width:1.5em;font-size:1.75em;height:1.5em;"'%>
			<%= f.text_field :exp_year, :style=>'width:3em',:placeholder=>'2015',:style=>'width:2.5em;font-size:1.75em;height:1.5em;"'%>
		</td>
	</tr>
	<tr>
		<td style="text-align:left" colspan='2'>
			<h4>
			Email
			</h4>
		</td>
	</tr>
	<tr>
		<td style="text-align:left" colspan='2'>
		<%= f.text_field :email,:placeholder=>'who do we email this to' ,:style=>'width:11em;font-size:1.75em;height:1.5em;"'%>
		</td>
	</tr>
	</table>
	<p>Spam are for jerks and jerks we are not.</p>
  <%= f.submit "Buy It!", :class=>'btn btn-large btn-success', :style=>"width:17em" %><br>
<%= image_tag "visa_mastercard.jpg",:size=>"180x90" %> 
<% end %>
