	<%= hidden_field_tag(:company_id, current_company.id) %>

<table width="695em">
<tr>
<td style="width:14.5em">
	<h3>Product Name</h3>
	<div class="input-prepend">
	<span class="add-on" style="height:1.95em;padding-top:1em;padding-right:0.9em;padding-left:0.9em"><i class="icon-file icon-large"></i></span>
		<%= form.text_field :name ,:style=>'width:6em;',:placeholder=>'Pretty Picture', :title=>"Your product's name",:onMouseOver=>"$(this).popover('top'); "%>
	</div>
</td>

<td style="width:21.5em">
	<h3>Link</h3>
	<div class="input-prepend">
		<span class="add-on" style="height:1.95em;padding-top:1em;padding-right:0.9em;padding-left:0.9em"><i class="icon-home icon-large"></i></span>
		<%= form.text_field :link ,:style=>'width:10em;',:placeholder=>'http://example.com',:content=>"Enter a link",:title=>"Fill this out if you are selling access to a link, or the link to your product.",:onMouseOver=>"$(this).popover('show'); "%>
	</div>
</td>

<td>
	<h3>Price</h3>
	<div class="input-prepend">
	<span class="add-on" style="height:1.95em;padding-top:1em;padding-right:0.9em;padding-left:0.9em;">
		<font size="3em">$</font>
	</span>
 	<%= form.text_field :price,:style=>'width:3em;',:placeholder=>1.00,:title=>"you pick the amount",:onMouseOver=>"$(this).popover('show');" %>
	</div>
</td>

</tr>

</table>

<h3>Description</h3>
<%= form.text_area :description,:style=>'height:100px;width:25.5em;font-size:1.75em',:placeholder=>'A description for the stuff you are selling',:title=>"A good description will help your stuff sell better.",:onMouseOver=>"$(this).popover('show');" %>
<br>
<br>

