<div class="row">
<div class="span4">

<h1>Edit</h1>
</div>
<div class="span4 offset4">
	<h3>Price: <%= number_to_currency @product.price %> - Sold: <%= @product.purchased %> - Earnings: <%= number_to_currency(@product.price * @product.purchased) %></h3>
</div>
</div>
<hr>
<%= render 'shared/info' %>
<div class="row">
<div class="span7">
<%= form_for :product, @product, :url =>{ :action => "update"},  :html => { :multipart => true,:method=>"put" } do |form| %>

<%= render 'product_form', :form => form %>
<a href="#" id="show_file_attachments" onclick="$('#file_attachments').show(150);$(this).hide();">attach more files</a>

<div style="display:none" id="file_attachments">
	<h3>Attach More Files</h3>
	Max 25mb <a href="#" onclick="$('#file_attachments').hide(150);$('#show_file_attachments').show();">hide</a>
	<input type="button" id="file_button" class="btn" value="Attach More Files" />
	<br>
</div>
  <br>
	<br>

<!--    <%= form.submit "Submit" %>-->
<button type="Submit" class="btn btn-success btn-large" id="product_submit" name="commit" style="width:10em" onclick="$(this).button('loading')">
	Update
</button>

<% end %>

</div>
<div class="span5">
<div class="row">
	<div class="span3">
		<h3>Share this link (Shop's URL)</h3>
	</div>
	<div class="span3" style="width:17%;float:right;margin-top:0px;padding-top:0px;margin-bottom:5px">
	</div>
</div>
<table width="100%">
<tr>
	<td id='copy' style="" title="This is your shop's url. Share this link anywhere to allow your customer to access it." onMouseOver="$(this).popover({placement:'top'});">
		<input style="width:15em;" id="shop_link" value="<%= @encrypted_link %>"  onclick="SelectAll('shop_link')">
	</td>
	<td id='copy'>
	</td>
	<td style="float:right">
		<a href="<%= root_url+'g/'+ @product.encrypted_link%>", class="btn btn-info btn-large", target="_blank">
			<i class="icon-search"></i> Preview
		</a>
	</td>
	<td style="float:right" id='copy'>
			<!--<%= link_to 'Select', "#", :class=>"btn btn-info btn-large",:target=>'_blank' %>-->
	</td>
</tr>
</table>
<br>
<script>
//  deprecated due to flash problems.
//	CustomClipper('copy','shop_link');
</script>
<!-- share on fb button -->
<!-- share on twitter button -->
<!--Shared Link Area-->
<a href="#" onclick='javascript:window.open("http://twitter.com/home?status=Buy <%= @product.name %> on Bockie.com <%= @encrypted_link %>","share","width=500,height=300,scrollbars=yes");' title="Click to share this post on Twitter">
	<%= image_tag 'shareontwitter.png' %>
</a>
<a href="#" onclick='javascript:window.open("http://www.facebook.com/dialog/feed?app_id=136994213093359&name=game&caption=Only <%= number_to_currency @product.price %>.&redirect_uri=http://bockie.herokuapp.com&display=popup&message=Buy%20game%20on%20link%21&link=<%= @encrypted_link %>","Share","width=500,height=300,scrollbars=yes");' >
	<%= image_tag 'shareonfb.png' %>
</a>

<br>	
<br>

		<h3>Preview Pictures</h3>
	<% if @product_previews.count > 0 %>
		<table>
		<tbody>
			<tr>
		<% @product_previews.each do |p| %>
				<td>
					<%= image_tag p.picture.url(:thumb) %><br>
					<%= form_for @product,:as=>:product, :url =>{ :action => "update"},  :html => { :multipart => true,:method=>"put" } do |form| %>
						<%= hidden_field_tag(:delete_preview, p.id) %>
						<button type="Submit" class="btn" id="product_submit" data-confirm="Are you sure you want to delete <%= p.picture_file_name%>?" name="commit" style="width:100%">delete</button>
					<% end %>
				</td>
		<% end %>
			</tr>
		</tbody>
		</table>
	<br>
	<% end %>

	<% if @product_previews.count < 6 %>
		<a href='#' onclick='$("#upload_preview").show(150);$(this).hide()' id="show_upload_preview">upload preview pictures</a>
		<div style="display:none" id="upload_preview">
			<!--<button class="btn btn-info btn-large">Stats</button>-->
			<h3>Upload Preview Pictures</h3>
			<a href='#' onclick='$("#upload_preview").hide(150);$("#show_upload_preview").show()'>
				hide
			</a>
			<%= form_for @product, :as=>:product, :url =>{ :action => "update"},  :html => { :multipart => true,:method=>"put" } do |form| %>
				<input type="button" id="preview_button" class="btn" value="attach more previews" />
				<br>
				<button type="Submit" class="btn btn-primary" id="product_submit" name="commit" style="width:10em" onclick="$(this).button('loading')">
					Upload
				</button>
			<% end %>
		</div><br><br>
	<% end %>

<% if @downloadables.count > 0 %>
<!--show this if the user have stuff to sell-->
	<a href='#' onclick='$("#file_list").show(150);$(this).hide();' id="show_file_list">
		show attached files: <%= pluralize(@downloadables.count, 'file')%>
	</a>
<div id="file_list" style="display:none">
	<h3>File List</h3>
	total: <%=  number_to_human_size @total_file_size %> 
		<a href='#' onclick='$("#file_list").hide(150);$("#show_file_list").show()'>
			hide
		</a>
	<table class="table table-condensed">
		<% @downloadables.each do |downloadable| %>
			<tr>
				<td>
					<%= link_to downloadable.file_file_name, downloadable.file.url(:url) %>
				</td>
				<td>
				<%= number_to_human_size downloadable.file_file_size %>
				</td>
				<td>
					<%= form_for :product, @product, :url =>{ :action => "update"},  :html => { :multipart => true,:method=>"put" } do |form| %>
					<%= hidden_field_tag(:delete_attachment, downloadable.id) %>
					<button type="Submit" class="btn" id="product_submit" data-confirm="Are you sure you want to delete <%= downloadable.file_file_name%>?" name="commit">delete</button>
					<% end %>
				</td>
			</tr>
		<% end %>

	</table>
</div>
<% end %>
</div>
</div>
