<div class="row">
<div class="span4">

<h1>Edit</h1>
</div>
<div class="span4 offset4">
	<h3>Price: <%= number_to_currency @product.price %> - Sold: <%= @product.purchased %> - Earnings: <%= number_to_currency(@product.price * @product.purchased) %></h3>
</div>
</div>
<hr>
<%= render 'shared/info' %>
<div class="row">
<div class="span7">
<%= form_for :product, @product, :url =>{ :action => "update"},  :html => { :multipart => true,:method=>"put" } do |form| %>

<%= render 'product_form', :form => form %>
<a href="#" id="show_file_attachments" onclick="$('#file_attachments').show(150);$(this).hide();">attach more files</a>

<div style="display:none" id="file_attachments">
	<h3>Attach More Files</h3>
	Max 25mb <a href="#" onclick="$('#file_attachments').hide(150);$('#show_file_attachments').show();">hide</a>
	<!--<p>
	(Optional unless you are selling an uploaded file)
	<br>
	<%= form.file_field :picture %>-->
	<input type="button" id="file_button" class="btn" value="Attach More Files" />
	<br>
	<!--<input type="submit" id="save" class="btn btn-success btn-large" value="Upload" />
	</p>-->
</div>
  <br>
	<br>

<!--    <%= form.submit "Submit" %>-->
<button type="Submit" class="btn btn-success btn-large" id="product_submit" name="commit" style="width:10em">Update</button>

<% end %>


<!--deprecated testing for uploads -->
<!--<%= form_for :attachment, @product, :url =>{ :action => "update"},  :html => { :multipart => true,:method=>"put" } do |form| %>
	<%= hidden_field_tag(:company_id, current_company.id) %>
	<h3>Upload Your File</h3>
	<p>
	(Optional unless you are selling an uploaded file)
	<br>
	<%= form.file_field :file %>
	</p>
	<br>
	<button type="Submit" class="btn btn-success btn-large" id="product_submit" name="commit">Save</button>
	</p>
<% end %>-->


<!--<%= form_for :update, :html => { :multipart => true, :id => "upload_form",:method=>"put" }, :url => { :action => "update" } do |f| %>
	<input type="button" id="button" class="btn btn-primary" value="Attach More Files" />
	<br>
	<input type="submit" id="save" class="btn btn-success btn-large" value="Upload" />
<% end %>-->

</div>
<div class="span5">
<div class="row">
	<div class="span3">
		<h3>Share this link (Shop's URL)</h3>
	</div>
	<div class="span3" style="width:17%;float:right;margin-top:0px;padding-top:0px;margin-bottom:5px">
	</div>
</div>
<table width="100%">
<tr>
<td id='copy' style="" title="Your product's name" onMouseOver="$(this).popover('show');">
<input style="width:15em;" id="shop_link" value="<%= @encrypted_link %>" title="Your product's name" onMouseOver="$(this).popover('show');">
</td>
<td id='copy'>
</td>
<td style="float:right">
		<a href="<%= root_url+'g/'+ @product.encrypted_link%>", class="btn btn-info btn-large", target="_blank">
			<i class="icon-search"></i> Preview
		</a>
</td>
<td style="float:right" id='copy'>
		<!--<%= link_to 'Select', "#", :class=>"btn btn-info btn-large",:target=>'_blank' %>-->
</td>
</tr>
</table>
<br>
<script>
	CustomClipper('copy','shop_link');
</script>
<!-- share on fb button -->
<!-- share on twitter button -->
<!--Shared Link Area-->
<a href="#" onclick='javascript:window.open("http://twitter.com/home?status=Buy <%= @product.name %> on Bockie.com <%= @encrypted_link %>","share","width=500,height=300,scrollbars=yes");' title="Click to share this post on Twitter">
	<%= image_tag 'shareontwitter.png' %>
</a>
<!--<a href="http://www.facebook.com/dialog/feed?Yp=Buy <%= @product.name %> on Bockie.com <%= @encrypted_link %>" target="_blank" title="Click to share this post on Twitter">
<a href="http://www.facebook.com/dialog/feed?app_id=136994213093359&name=game&caption=Just $2.&redirect_uri=http://bockie.herokuapp.com&message=Buy" target="_blank" title="Click to share this post on Twitter">
	<%= image_tag 'shareonfb.png' %>
</a>-->
<a href="#" onclick='javascript:window.open("http://www.facebook.com/dialog/feed?app_id=136994213093359&name=game&caption=Only <%= number_to_currency @product.price %>.&redirect_uri=http://bockie.herokuapp.com&display=popup&message=Buy%20game%20on%20link%21&link=<%= @encrypted_link %>","Share","width=500,height=300,scrollbars=yes");' >
	<%= image_tag 'shareonfb.png' %>
</a>

<!--<a href="javascript:window.open('http://www.facebook.com/dialog/feed?app_id=114816261931958&name=game&caption=Just $2.&redirect_uri=https://gamertiser.com/links&amp;display=popup&amp;message=Buy%20game%20on%20link%21&amp;link=https%3A%2F%2Fgamertiser.com%2Fl%2FUWo%22,%22Share%22,%22width=150,height=150,scrollbars=yes%22);" 
	class="btn btn-info btn-large">
	Share on Facebook
</a>
<a href="javascript:window.open('http://twitter.com/share?text=Buy game on Gumroad &url=https://gamertiser.com/l/UWo/','Share','width=150,height=150,scrollbars=yes')" 
	class="btn btn-info btn-large" target='none'>
		Share on Tweet
</a>-->

<br>	
<br>

	<% if @product_previews.count > 0 %>
		<h3>Preview Pictures</h3>
		<table>
		<tbody>
			<tr>
		<% @product_previews.each do |p| %>
				<td>
					<%= image_tag p.picture.url(:thumb) %><br>
					<%= form_for @product,:as=>:product, :url =>{ :action => "update"},  :html => { :multipart => true,:method=>"put" } do |form| %>
						<%= hidden_field_tag(:delete_preview, p.id) %>
						<button type="Submit" class="btn" id="product_submit" data-confirm="Are you sure you want to delete <%= p.picture_file_name%>?" name="commit" style="width:100%">delete</button>
					<% end %>
				</td>
		<% end %>
			</tr>
		</tbody>
		</table>
	<br>
	<% end %>

	<% if @product_previews.count < 6 %>
		<a href='#' onclick='$("#upload_preview").show(150);$(this).hide()' id="show_upload_preview">upload preview pictures</a>
		<div style="display:none" id="upload_preview">
			<!--<button class="btn btn-info btn-large">Stats</button>-->
			<h3>Upload Preview Pictures</h3>
			<a href='#' onclick='$("#upload_preview").hide(150);$("#show_upload_preview").show()'>
				hide
			</a>
			<%= form_for @product, :as=>:product, :url =>{ :action => "update"},  :html => { :multipart => true,:method=>"put" } do |form| %>
				<input type="button" id="preview_button" class="btn" value="attach more previews" />
				<br>
				<button type="Submit" class="btn btn-primary" id="product_submit" name="commit" style="width:10em">Upload</button>
			<% end %>
		</div><br><br>
	<% end %>

<% if @downloadables.count > 0 %>
<!--show this if the user have stuff to sell-->
	<a href='#' onclick='$("#file_list").show(150);$(this).hide();' id="show_file_list">
		show attached files: <%= pluralize(@downloadables.count, 'file')%>
	</a>
<div id="file_list" style="display:none">
	<h3>File List</h3>
	total: <%=  number_to_human_size @total_file_size %> 
		<a href='#' onclick='$("#file_list").hide(150);$("#show_file_list").show()'>
			hide
		</a>
	<table class="table table-condensed">
		<% @downloadables.each do |downloadable| %>
			<tr>
				<td>
					<%= link_to downloadable.file_file_name, downloadable.file.url(:url) %>
				</td>
				<td>
				<%= number_to_human_size downloadable.file_file_size %>
				</td>
				<td>
					<%= form_for :product, @product, :url =>{ :action => "update"},  :html => { :multipart => true,:method=>"put" } do |form| %>
					<%= hidden_field_tag(:delete_attachment, downloadable.id) %>
					<button type="Submit" class="btn" id="product_submit" data-confirm="Are you sure you want to delete <%= downloadable.file_file_name%>?" name="commit">delete</button>
					<% end %>
				</td>
			</tr>
		<% end %>

	</table>
</div>
<% end %>
</div>
</div>
