<%= render 'shop_header' %>
<body>

<div class='alert alert-success'>
<table>
<tr>
<td text-align="left">
Good Game! Your exclusive rewards.
</td>
<td text-align="right">
<% if user_signed_in? %>
<%= current_user.name %>

<%= link_to('Switch User', destroy_user_session_path, :method=>'delete', params[:flash]=>'user_logout')%>

<% else %>
<%= link_to 'Sign in', product_user_sign_in_url %> | 
<%= link_to 'Register', product_user_register_url %>

<% end %>
</td>
</tr>
</table>
</div>
<table style="text-align:center" align="center">
<tr>
<% @products.each do |p| %>
<td style="padding:10px">
	<td style="width:150px; background-color: #000;border: 2px solid #C0C0C0;">
			<img src='<%= p.picture_path %>'>
	</td>
</td>
<% end %>
</tr>

<tbody>
<% @products.each do |p| %>
<%= form_for :product, :url => {:action => 'confirm_purchase'}, :html => { :multipart => true } do |f| %>
<%= hidden_field_tag 'product_id', p.id %>

<% if current_user %>
	<%= hidden_field_tag 'user_id', current_user.id  %>
<% else %>
	<%= hidden_field_tag 'user_id', -1  %>
<% end %>
<!--<td style="padding-left:10px;padding-right:10px;padding-bottom:0px">-->
<td>
	<td style="width:150px; ">
		<!--<%= p.name %><br>-->
		<font size='3em' color='#E56717' >
			<%= number_to_currency p.price %>
		</font>
		<%= f.submit 'Redeem It!', :class=>'btn btn-primary' %>
	</td>
</td>
<% end %>
<% end %>
</tbody>
</table>
</body>
</html>
