<%= render "single_shop_header" %>
<div class="container">
<h1>
Success! 
</h1>
<hr>
<h2>
Here are your stuff. You should also receive a copy of in your email soon</h2>
<br>
<br>

<h1>Your Link</h1>
<hr>
<h2><%= link_to "#{@product.link}", @product.link %><h2>
<br>

<% if @product.picture_file_name %>
<h1>Your File</h1>
<hr>
<!--<%= link_to "#{@product.picture_path}", @product.picture_path %>-->
<!--<%= link_to 'Raw blast output', @product.download_path, :class=>'btn btn-success btn-large' %>-->
<%= link_to 'Download', @product.download_path, :class=>'btn btn-success btn-large' %>
<% end %>

</div>
<%= render "single_shop_footer" %>
