<!-- Header file -->
<%= yield :head %>

<header>
<nav>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/" style="padding:0;margin:0" >
			<%= image_tag "logo_small.png" %>
			</a>
		<% if company_signed_in? %>

			<% if current_company.admin? %>
			<ul class="nav">
				<li>
					<%= link_to "Users", admin_users_path %>
				</li>
				<li>
					<%= link_to "Products", admin_products_path %>
				</li>
			</ul>
      <ul class="nav pull-right">
			<% end %>
		
			<!--<li class=''><%= link_to "My Brand's Dashboard", current_company %><li>-->
			<li class="<%= @products_list %>"><%= link_to "Products List", company_products_path(current_company) %><li>
			<li class="<%= @new %>"><%= link_to "Add Product", company_product_path(current_company, "new")%></li>
			<li class="<%= @account %>"><%= link_to "Account", account_companies_path %><li>
			<li class=""><%= link_to "Logout", destroy_company_session_path, :method => :delete, :class => 'links' %></li>
		<% else %>
			<!--<li class=""><%= link_to "Brand Partners", companies_path %></li>
			<li class=""><%= link_to "Platform Partners", publishers_path %></li>-->
			<!--<li style=""><%= link_to "Demo", "#" %></li>-->
			<!--<li><a data-toggle="modal" href="#myCompanySignInModal">Log In</a></li>-->
		<% end %>
	</ul>
    </div>
  </div>
</div>
</header>
</nav>
<br />
<br />
<br />

<%= render "companies/sign_in_form" %>
