<!DOCTYPE html>
<html>
<head>
  <title>Gamertiser! | Dashboard</title>
  <%= stylesheet_link_tag "bootstrap.css","bootstrap-responsive.css" %>
	<!--multiple jquery.js and jquery.min.js detected -->
	<!-- protype must come before rails and after jquery. error otherwise -->
	<%= javascript_include_tag "jquery", "jquery_ujs", "prototype","widgets", "track",  "rails", :cache => true %>
  	<%= javascript_include_tag "prettify.js", "bootstrap-transition", "bootstrap-modal", "bootstrap-tooltip", "bootstrap-tpopover", "bootstrap-button", "bootstrap-tab", "bootstrap-carousel", "bootstrap-dropdown" %>
	<%= javascript_include_tag "application", :cache => true %>

  <%= csrf_meta_tag %>
</head>
<body>
<%= render "layouts/header" %>
<div class="container">

<%= yield %>
<%= render "layouts/footer" %>
</div>
<%= debug(params) if Rails.env.development? %>
</body>
</html>

